.cartPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.cart {
    display: block;
    width: 70%;
    height: 90%;
    background-color: white;
    opacity: 100;
}

.cart .btnClose {
    width: 100%;
    text-align: end;
}

.cart .btnClose button {
    padding: 10px;
    transform: scale(1.5);
}

.swiper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
}

.swiper-buttonN,
.swiper-buttonP {
    opacity: 70%;
    background-color: #dfdfdf;
    z-index: 2;
    position: absolute;
    top: 50%;
}

.swiper-buttonN {
    right: 0px;
}
.swiper-buttonP {
    left: 0px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.kartu-container3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.kartu3 {
    width: 14rem;
    margin: 0px 10px 20px 10px;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
}

.kartu3 .content {
    margin: 12px 0px 0px 20px;
}

.hero-container {
    margin-top: 150px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}

.hero {
    width: 80%;
    height: 100%;
    border-radius: 12.5px;
    border: 1px solid #dfdfdf;
    display: flex;
    flex-wrap: nowrap;
}

.category-container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.category {
    width: 80%;
    height: 100%;
}

.kartu-container1,
.kartu-container2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    transform: scale(0.9);
    margin: 0;
    overflow-x: scroll;
    padding: 20px 0px 0px 20px;
}

.kartu1,
.kartu2 {
    width: 14rem;
    margin: -20px 40px 0px -20px;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
}

.kartu1 .content,
.kartu2 .content {
    margin: 12px 0px 0px 20px;
}

.hero .banner {
    width: 310px;
    height: 100%;
}

.hero .banner img {
    width: 310px;
    height: 100%;
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
}

.swiper2 {
    overflow: hidden;
}

.hero .content {
    width: calc(100% - 310px) !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .content .container {
    width: 100%;
    height: auto;
    padding-left: 20px;
}

.hero .content .container .kartu4 {
    width: 14rem;
    border: 1px solid #dfdfdf;
    border-radius: 7px;
    transform: scale(0.95);
}

.hero .content .container .kartu4 .contentK {
    width: 100%;
    height: 100%;
    margin: 12px 0px 0px 20px;
}

.hero .content .arrowK4 {
    width: 100%;
    display: flex;
    justify-content: center;
}
