@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    z-index: 5;
}

nav .top {
    background-color: #536aec;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .top .search input {
    margin: 5px 0px 0px 30px;
    border: none;
    width: 300px;
    height: 35px;
    padding: 5px;
    border-radius: 6px;
    outline: none;
}
nav .top .search .btnSearch {
    margin-bottom: 5.5px;
    margin-left: 5px;
    color: white;
}
nav .top .search .btnSearch:hover {
    color: black;
}

.login,
.register {
    text-decoration: none;
    color: white;
}

.login:hover,
.register:hover {
    color: white;
}

nav .middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .middle .home .logo {
    width: 250px;
    image-rendering: optimizeQuality;
}

nav .middle .home {
    position: absolute;
    margin-bottom: 25px;
}
nav .bottom {
    background-color: #5266d9;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

nav .bottom a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 12px 15px 0px 15px;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
}

nav .bottom a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    background-color: white;
    margin: auto;
}

nav .bottom a:hover:after {
    width: 100%;
}

.cartImg {
    align-self: center;
    display: inline;
    width: 30px;
    transition: 0.5s;
}

.cartBtn:hover > .cartImg {
    width: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content form button:hover {
    color: #0a58ca;
}

.dropdown:hover .dropdown-content {
    display: block;
}
